$colors: (
  "white": #fafafa,
  "black": #07689f,
  "purple": #a2d5f2,
  "gray-1": #ff7e67,
);

// Default Font Size
$base-font-size: 16px;

$base-url: "http://localhost:3000/";

// Responsive Breakpoint
$br-xxs: 375px;
$br-xx: 425px;
$br-xs: 480px;
$br-mm: 512px;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1140px;
$br-xxl: 1200px;
